@font-face {
	font-family: 'SeoulHangang';
	src: url('https://rrgames.me:3001/kkutu/res/SeoulNamsanM.woff') format('woff');
}

body{
	margin: 0px;
	background-color: #F3F7FF;
}
body, input, select{
	font-family: SeoulHangang;
}
.UI{
	min-width: 640px;
	min-height: 480px;
}

#Top{
	height: 30px;
}
#Middle{
	position: absolute;
	top: 29px;
	width: 100%;
	height: calc(100% - 29px);
}
.MenuItem{
	float: right;
	width: 98px;
	height: 28px;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0);
}
.MenuItem:hover{
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.QuitBtn{
	background-color: #FFBB99;
}
.RankBtn{
	background-color: #6E9EFF;
}
#Hider{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 65536;
}
#Support{
	display: none;
}

#MyName{
	text-align: center;
}
#MyLevel{
	position: absolute;
	width: 110px;
	height: 20px;
	left: 48px;
	top: 25px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0 0 4px #000000;
	z-index: 3;
}
#MyExpBG{
	position: absolute;
	width: 106px;
	height: 18px;
	left: 48px;
	top: 23px;
	z-index: 1;
}
#MyExp{
	position: absolute;
	height: 18px;
	left: 50px;
	top: 25px;
	z-index: 2;
}
.ExpBarBG{
	border: 2px groove #FFFFFF;
	border-radius: 5px;
	background-color: #006622;
}
.ExpBar{
	border-radius: 3px;

	background: #89cd59; /* Old browsers */
	background: -moz-linear-gradient(top,  #89cd59 0%, #53b430 50%, #2ba307 51%, #5dc434 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89cd59), color-stop(50%,#53b430), color-stop(51%,#2ba307), color-stop(100%,#5dc434)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #89cd59 0%,#53b430 50%,#2ba307 51%,#5dc434 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #89cd59 0%,#53b430 50%,#2ba307 51%,#5dc434 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #89cd59 0%,#53b430 50%,#2ba307 51%,#5dc434 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #89cd59 0%,#53b430 50%,#2ba307 51%,#5dc434 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cd59', endColorstr='#5dc434',GradientType=0 ); /* IE6-9 */
}
#MyRecord{
	margin-top: 30px;
	border-top: 1px dashed rgba(0, 0, 0, 0.3);
	padding-left: 2px;
	padding-top: 5px;
	font-size: 14px;
}
#MyETC{
	margin-top: 5px;
	font-size: 14px;
}
#TopStatus{
	float: right;
	width: 160px;
	height: inherit;
	padding-top: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	color: #4477FF;
}
#MenuBox{
	border-bottom: 1px solid #DDEEFF;
	background-color: #77AAFF;
	height: 28px;
}
.Room{
	position: absolute;
	width: calc(100% - 160px);
	height: calc(100% - 160px);
	overflow-y: auto;
}
#MyRoom{
	width: 100%;
	background-color: #DDEEFF;
	z-index: 1;
}
#MyBox{
	position: absolute;
	width: 154px;
	height: 154px;
	padding: 3px;
	bottom: 0px;
	right: 0px;
	background-color: #F4F4F4;
}
#UserBox{
	position: absolute;
	width: 160px;
	height: calc(100% - 160px);
	top: 0px;
	right: 0px;
	overflow-y: scroll;
	background-color: #E4E7EE;
}
#RoomUserBox{
	overflow: hidden;
}
#GameUserBox{
	margin-top: 70px;
	padding: 5px;
}
#RoomConfigBox{
	width: calc(100% - 5px);
	height: 20px;
	font-size: 15px;
	padding-right: 5px;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.5);
}
.RoomConfigItem{
	float: right;
}
.RoomConfigText{
	font-size: 11px;
	color: #333333;
}
.UserItem{
	text-align: left;
	padding-left: 3px;
}
.UserItem:hover{
	background-color: rgba(255, 255, 255, 0.4);
}
.UserRank{
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.7);
	vertical-align: middle;
	margin-right: 4px;
}
.RoomUserItem{
	float: left;
	text-align: center;
	width: 160px;
	height: 160px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	margin: 3px;
	background-color: #EEEEEE;
}
.RoomUserImage{
	float: left;
	width: 100%;
	height: calc(100% - 50px);
}
.KickBtn{
	float: right;
	width: 30px;
	height: 20px;
	background-color: rgba(255, 0, 0, 0.1);
}
.KickBtn:hover{
	background-color: rgba(255, 0, 0, 0.3);
}
.RoomUserName{
	float: left;
	width: 100%;
	color: #000000;
	height: 23px;
	margin-bottom: 2px;
}
.RoomUserInfo{
	float: left;
	width: 100%;
	height: 25px;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.04);
}
.RoomColumn{
	float: left;
	text-align: center;
	padding: 8px 0px;
	overflow: hidden;
}
.RCTitle{
	color: #445DFF;
	background-color: #B7CAFF;
	border-bottom: 1px solid #BBDDFF;
	padding: 2px 0px !important;
	height: 20px !important;
}
.RoomItem{
	float: left;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
	background-color: #F3F3F3;
}
.RoomItem:hover{
	background-color: #FAFAFA;
}
.RoomTitle{
	color: #0000FF;
}
#ChatBox{
	position: absolute;
	width: calc(100% - 166px);
	height: 130px;
	padding: 3px;
	overflow-y: scroll;
	border-top: 1px solid #DDDDDD;
	left: 0px;
	bottom: 24px;
	background-color: #FFFFFF;
	z-index: 3;
}
.Chat{
	float: left;
	width: calc(100% - 6px);
	margin: 0px 3px;
}
#ChatInput{
	position: absolute;
	width: calc(100% - 5px);
	height: 20px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 1px;
	left: 0px;
	bottom: 0px;
	background-color: #F4F4F4;
	z-index: 3;
}
.ChatSudo{
	float: left;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}
.ChatNoticeEnter, .ChatNoticeExit{
	background-color: #E7E7E7;
}
.ChatUserName{
	color: #2266FF;
}
.ChatWriter{
	float: left;
	width: 120px;
	overflow-x: hidden;
	white-space: nowrap;
}
.ChatContent{
	float: left;
	width: calc(100% - 120px);
}
.ChatImage{
	vertical-align: top;
	margin-right: 4px;
}

#GameBox{
	width: 100%;
	overflow: hidden;
	background-image: url('./image/gamebg.png');
	z-index: 2;
}
.GameUserItem{
	float: left;
	text-align: center;
	width: 120px;
	height: 120px;
	border: 3px solid #242424;
	margin: 4px;
}
.GameUserImage{
	float: left;
	width: 100%;
	height: calc(100% - 64px);
}
.GameUserName{
	float: left;
	width: 100%;
	color: #003300;
	height: 24px;
	background-color: rgba(255, 255, 255, 0.1);
}
.GameUserScore{
	float: left;
	width: 25%;
	height: 40px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.3);
}
.ScoreItem{
	position: absolute;
	font-size: 30px;
	color: #FFFF66;
	width: 140px;
	text-align: center;
	text-shadow: 0px 2px rgba(0, 0, 0, 0.8);
}
.ScoreParticle{
	position: absolute;
	border-radius: 10px;
}
.Pointed{
	border: 3px solid #44FF44 !important;
}
.BoomPointed{
	border: 3px solid #FF4444;
}
#GameSubjectPanel{
	width: 100%;
	left: 20%;
	font-size: 36px;
	text-align: center;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
#GameUserBox{
	float: left;
	width: calc(100% - 6px);
}
#GameStatusBox{
	float: left;
	text-align: center;
	width: calc(100% - 6px);
	height: 150px;
	color: #FFFFFF;
}
#GameUpperBox{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #000000;
	border-radius: 10px;
}
#GameRoundPanel{
	position: absolute;
	width: 30%;
	left: 35%;
	top: 22px;
	text-shadow: 0px 1px #000000;
}
.GameBorder{
	position: absolute;
	top: -40px;
}
.GameBorderMid{
	position: absolute;
	top: -11px;
	left: -2px;
	width: 100%;
	border-top: 2px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	height: 30px;
	background-color: #DEAF56;
}
.GameBorderBG{
	margin-top: 11px;
	padding: 3px;
	border: 10px solid #DEAF56;
	border-radius: 10px;
}
#GameChainPanel{
	position: absolute;
	right: -110px;
	bottom: 0px;
	width: 100px;
	height: 50px;
	padding-top: 50px;
	font-size: 30px;
	text-shadow: 0px 2px #000044;
	background-image: url('./image/righthand.png');
}
#MeaningPanel{
	position: absolute;
	width: 100%;
	height: 36px;
	top: 180px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.MeaningBlock{
	position: absolute;
	float: left;
	border: 2px dashed #333333;
	margin: 0px 2px;
	max-width: 200px;
	padding: 0px 3px;
	border-radius: 5px;
	background-color: #222222;
}
.LatestWord{
	background-color: #444444;
}
.MeaningWord{
	color: #44CCFF;
}
.MeaningText{
	color: #BBBBBB;
	float: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: 14px;
	font-size: 12px;
}
.TimeBar{
	width: 100%;
	height: 18px;
	text-align: right;
	border-radius: 4px;
	font-size: 12px;
	color: #000000;
	overflow: hidden;
}
#TotalTimeBar{
	margin: 3px 0px;

	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
#TurnTimeBar{
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
.AChar{
	position: absolute;
	width: 30px;
	text-align: center;
}
#Dialog{
	position: absolute;
	border: 3px solid #334488;
	background-color: rgba(222, 233, 255, 0.9);
	z-index: 4;
}
#DialogTitle{
	font-size: 20px;
	padding: 4px;
	text-align: center;
	color: #BBCCFF;
	background-color: #445599;
}
#DialogStage{
	padding: 4px;
}
.DialogStatusItem{
	float: left;
	text-align: center;
	font-size: 14px;
	padding: 1px 0px;
}
#GameResultBox{
	position: absolute;
	width: 410px;
	height: 360px;
	left: calc(50% - 200px);
	border: 2px solid #DDDDDD;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}
#GameResultTitle{
	font-size: 16px;
	text-align: center;
	padding-top: 3px;
	color: #AAAAAA;
	border-bottom: 1px dashed #777777;
}
#GameResultRewardBox{
	padding: 7px;
}
#GameResultRatingGain{
	position: absolute;
	width: 410px;
	left: 0px;
	bottom: 120px;
	color: #AAAAFF;
	text-align: center;
	font-size: 20px;
}
#GameResultExpGain{
	position: absolute;
	width: 190px;
	left: 0px;
	bottom: 100px;
	color: #77FF99;
	text-align: center;
}
#GameResultPingGain{
	position: absolute;
	width: 190px;
	right: 0px;
	bottom: 100px;
	color: #FFFF44;
	text-align: center;
}
#GameResultExpText{
	position: absolute;
	width: 390px;
	height: 40px;
	bottom: 40px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	text-shadow: 0 0 3px #000000;
}
#GameResultExpBarBG{
	position: absolute;
	width: 390px;
	height: 50px;
	bottom: 40px;
}
#GameResultExpBar{
	position: absolute;
	width: 300px;
	height: 50px;
	margin: 2px;
	bottom: 40px;
}
#GameResultButtonBox{
	position: absolute;
	right: 4px;
	bottom: 4px;
}
.GameResultButton{
	width: 80px;
	height: 30px;
}
.GameResultRankItem{
	margin: 5px;
	width: 400px;
	height: 25px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}
.MyGRItem{
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.3);
}
.GRRank{
	float: left;
	width: 60px;
	color: #FFFF00;
}
.GRName{
	float: left;
	width: 240px;
	color: #FFFFFF;
}
.GRScore{
	float: left;
	width: 100px;
	color: #44FF44;
}
#GameItemBox{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 264px;
	height: 62px;
}
.GameItem{
	float: left;
	width: 60px;
	height: 60px;
	color: #AAFFBB;
	border: 1px solid #AADDAA;
	border-radius: 5px;
	margin: 1px;
	background-color: rgba(0, 0, 0, 0.2);
}
.GameItemHotkey{
	font-size: 11px;
	color: #227744;
}
.GameItemQuantity{
	font-size: 11px;
	color: #FFFFFF;
}
.ItemEffect{
	font-size: 24px;
	text-shadow: 2px 0px #000000;
	position: absolute;
	width: 120px;
	color: #FFFF44;
}
#MyTurnDiv{
	position: absolute;
	width: 50%;
	height: 50px;
	left: 25%;
	top: 240px;
}
#MyTurnText{
	width: 100%;
	height: 100%;
	border: 6px double #009900;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.6);
}